<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Digital Product Passport</title>
    <style>
      :root {
        /* FIXME */
        --image-src: url('{{credentialSubject.productImage.linkURL}}');
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: 'Lato', sans-serif;
      }

      section {
        padding: 0 16px 0 16px;
      }

      .section-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 19.62px;
        color: #000000;
      }

      .section-description {
        margin-top: 12px;
        font-size: 16px;
        line-height: 18.88px;
        color: #000000;
        font-weight: 400;
      }

      .table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
      }
      .table-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 16px;
        align-items: center;
        padding: 10px 0px 12px 0px;

        border-bottom: 1px solid #d4d6d8;
      }
      .table-line {
        border-bottom: 1px solid #d4d6d8;
      }
      .item-title {
        display: flex;

        font-size: 16px;
        font-weight: 400;
        line-height: 17.44px;
        color: #55606E;
      }
      .item-value {
        display: flex;
        flex-direction: column;
        gap: 6px;

        font-size: 16px;
        font-weight: 500;
        line-height: 17.44px;
        color: #232E3D;
      }
      .item-value a {
        color: #232E3D;
      }
      .annotation {
        display: flex;
        gap: 4px;

        font-size: 14px;
        font-weight: 400;
        line-height: 15.26px;
        color: #55606E;
      }
      .annotation span {
        padding-top: 2px;
      }

      .container {
        min-width: 150px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
        word-break: break-word;
      }

      .header {
        min-height: 320px;
      }

      .header-image {
        position: relative;
        background: linear-gradient(248.36deg, rgba(0, 0, 0, 0.18) 7.6%, rgba(0, 0, 0, 0.6) 70.52%);
        background-image: var(--image-src);
        background-size: cover;
        background-position: center;
        height: 232px;
      }

      .header-image-top-left {
        position: absolute;
        top: 25px;
        left: 15px;

        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
      }

      .header-image-bottom-left {
        position: absolute;
        bottom: 18px;
        left: 15px;
        color: #ffffff;
      }

      .header-image-bottom-left h1 {
        font-size: 30px;
        font-weight: 900;
        line-height: 32.5px;
      }

      .header-batch {
        padding: 12px 16px 16px 16px;
        background-color: #F7FAFD;

        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-auto-flow: row;
        row-gap: 12px;
      }
      .header-batch-item {
        display: flex;
        align-items: center;
        gap: 6px;
      }
      .header-batch-item a {
        color: #232E3D;
        font-size: 14px;
        line-height: 15.25px;
        font-weight: 500;
      }
      .header-batch a {
        padding: 0 2px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.25px;
        text-decoration: none;
        color: #000000;
      }

      .information {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      .information-text {
        font-size: 19px;
        font-weight: 300;
        line-height: 22.42px;
      }
      .information-show-more {
        font-size: 14px;
        font-weight: 500;
        line-height: 15.26px;
      }
      .information-show-more a {
        text-decoration: none;
      }

      .passport {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      .passport-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .passport-box {
        display: grid;
        grid-template-columns: 1fr 1fr;

        border: #D4D6D8 1px dotted;
        border-radius: 5px;
        overflow: hidden;
      }
      .passport-box-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 12px 16px 12px 16px;
        
        border: #D4D6D8 1px dotted;
        outline-offset: -1px;
        min-height: 94px;
        color: #1F5A95;
      }
      .passport-box-item h3 {
        font-size: 40px;
        font-weight: 900;
        line-height: 43.33px;
      }
      .passport-box-item p {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 600;
        line-height: 18.88px;
      }
      .passport-box-item:last-child {
        background-color: #F7FAFD;
      }

      .passport-issued-by-header {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .passport-issued-by-header h3 {
        margin-top: 2px;
        font-size: 20px;
        font-weight: 700;
        line-height: 21.8px;
      }

      .passport-issued-by-header p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.25px;
        color: #55606E;
      }

      .passport-annotation {
        font-size: 14px;
        font-weight: 400;
        line-height: 15.26px;
        color: #55606E;
      }

      .traceability-cards {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      .traceability-card {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-content: space-between;
        align-items: center;

        min-height: 40px;
        text-decoration: none;
      }
      .traceability-card-text {
        display: flex;
        align-items: center;
        gap: 8px;

        font-size: 16px;
        font-weight: 400;
        line-height: 17.44px;
        color: #000000;
      }
      .traceability-card-view-details,
      .traceability-card-view-details:link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
      }

      .emission-score-card {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .mission-score-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 21.8px;
      }
      .mission-score-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.88px;
        color: #000000;
      }
      .score {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
      .score-unit {
        font-size: 40px;
        font-weight: 900;
        line-height: 43.33px;
        color: #1F5A95;
        letter-spacing: 6%;
      }
      .score-name {
        font-size: 16px;
        font-weight: 400;
        line-height: 17.44px;
        color: #55606E;
      }

      .declarations {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      .declaration-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 21.8px;
      }
      .declaration-body {
        display: flex;
        flex-direction: column;
        gap: 12px;

        border-radius: 4px;
        padding: 16px;
        background-color: #F7FAFD;
      }
      .conformity {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      .conformity-topic {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.25px;
        text-transform: uppercase;
        color: #55606E;
      }
      .conformity-evidence-name {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.24px;
        color: #1F5A95;
      }
      .declared-values,
      .assessment-criteria {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      .declared-title,
      .assessment-criteria-title {
        color: #232E3D;
        font-size: 16px;
        font-weight: 400;
        line-height: 17.44px;
      }
      .assessment-criteria-item {
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 17.44px;
      }
      .assessment-criteria-item span {
        font-weight: 700;
      }
      .assessment-criteria-item a {
        font-size: 14px;
        font-weight: 400;
        line-height: 15.26px;
        color: #232E3D;
      }

      .production {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      .production-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 21.8px;
      }
      .product-table,
      .product-table:link,
      .product-table:visited,
      .product-table:active {
        color: #232E3D;
      }

      .composition-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 12px;
      }
      .composition-box-item {
        border: 1px solid #d4d6d8;
        border-radius: 4px;
        height: 103px;
        padding: 16px;

        display: flex;
        justify-content: space-between;
      }
      .composition-percent {
        font-size: 16px;
        font-weight: 500;
        line-height: 21.92px;
        color: #000000;
      }
      .composition-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 17.44px;
        color: #000000;
      }
      .composition-tag {
        display: flex;
      }
      .composition-tag-item {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.25px;
        color: #000000;
        background-color: #D2E5F9;
        height: 23px;
        padding: 2px 4px 2px 4px;
        margin-right: 4px;
      }
      .composition-box-first-column {
        display: grid;
        grid-template-columns: 60px 1fr;
        gap: 12px;
      }
      .composition-box-second-column {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
      .composition-box-second-column a {
        color: #232E3D;
      }
      .composition-box-third-column {
        display: flex;
        align-items: start;
        gap: 12px;
      }
      .composition-box-third-column svg {
        margin: 1px 10px 0 0;
      }

      .passport-issued-by {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .history {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      .history-item {
        height: 39px;
        border-bottom: 1px solid #d4d6d8;
        padding: 10px 0 12px 0;

        display: flex;
        justify-content: space-between;
      }
      .history-item span {
        font-size: 16px;
        font-weight: 400;
        line-height: 17.44px;
        color: #000000;
      }
      .history-item a {
        font-size: 16px;
        font-weight: 500;
        line-height: 17.44px;
        color: #232e3d;
        text-decoration-color: #4f95dd;
        text-decoration-thickness: 2px;
      }

      .country-code {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.25px;
        color: #55606e;
      }

      .blue-bottom-line,
      .blue-bottom-line:link {
        border-bottom: 2px #4F95DD solid;
        width: fit-content;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        display: inline-flex;
        cursor: pointer;
        text-decoration: none;
        color: #232E3D;
      }
      .gray-bottom-line {
        border-bottom: 1px #232E3D solid;
        width: fit-content;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        display: inline-flex;
        text-decoration: none;
        color: #232E3D;
      }

      .view-more-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        color: #1F5A95;
        cursor: pointer;
      }

      footer {
        padding: 16px 16px 32px 16px;
        min-height: 60px;
        background-color: #F7FAFD;
      }
      footer p {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.25px;
        color: #232E3D;
      }

      /* Media Queries for Mobiles */
      @media (min-width: 390px) {
        .container {
          min-width: 390px;
        }
        .contents {
          display: none;
        }
      }

      /* Media Queries for Desktops */
      @media (min-width: 1440px) {
        .container {
          min-width: 1040px;
          min-height: 3000px;
          display: flex;
          align-items: flex-start;
          gap: 10px;
          position: relative;
          background-color: #ffffff;
          width: 100%;
        }
        .header,
        .information,
        .passport,
        .emission-score-card,
        .declarations,
        .production,
        .composition,
        .history,
        .passport-issued-by,
        footer
        {
          display: none;
        }

        html,
        body {
          margin: 0px;
          height: 100%;
        }
        /* a blue color as a generic focus style */
        button:focus-visible {
          outline: 2px solid #4a90e2 !important;
          outline: -webkit-focus-ring-color auto 5px !important;
        }
        a {
          text-decoration: none;
        }
        .container {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          position: relative;
          background-color: #ffffff;
          width: 100%;
          min-width: 1440px;
          min-height: 3000px;
        }

        .container .contents {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 40px;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .frame {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          padding: 56px 200px 0px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .PP-title {
          position: relative;
          width: 300px;
          margin-top: -1px;
          font-weight: 500;
          color: var(--primary-colorsgray-600);
          font-size: 24px;
          letter-spacing: 0;
          line-height: 33px;
        }

        .container .text-wrapper {
          position: relative;
          align-self: stretch;
          font-weight: 900;
          color: var(--black);
          font-size: 72px;
          letter-spacing: 4.32px;
          line-height: 78px;
        }

        .container .product-ID-ALT {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          gap: 12px 12px;
          padding: 12px 12px 16px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
          background-color: var(--primary-colorsblue-10);
        }

        .container .div {
          display: inline-flex;
          align-items: center;
          gap: 6px;
          position: relative;
          flex: 0 0 auto;
        }

        .container .line {
          gap: 10px;
          display: inline-flex;
          align-items: flex-start;
          padding: 0px 0px 3px;
          position: relative;
          flex: 0 0 auto;
          border-bottom-width: 2px;
          border-bottom-style: solid;
          border-color: var(--primary-colorsblue-400);
        }

        .container .text-wrapper-2 {
          position: relative;
          width: fit-content;
          margin-top: -2px;
          font-weight: 500;
          color: var(--primary-colorsgray-700);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
        }

        .container .div-wrapper {
          display: inline-flex;
          align-items: flex-start;
          gap: 10px;
          padding: 0px 0px 3px;
          position: relative;
          flex: 0 0 auto;
        }

        .container .text-wrapper-3 {
          position: relative;
          width: fit-content;
          margin-top: -2px;
          font-weight: 500;
          color: var(--primary-colorsgray-700);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
        }

        .container .frame-2 {
          display: flex;
          align-items: flex-start;
          gap: 16px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .PP-header {
          display: flex;
          flex-direction: column;
          width: 320px;
          height: 200px;
          align-items: flex-start;
          justify-content: space-around;
          gap: 8px;
          padding: 32px 16px 20px;
          position: relative;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.6) 79.5%);
          background-image: var(--image-src);
          background-size: cover;
          background-position: 50% 50%;
        }

        .container .frame-3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          gap: 8px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .frame-4 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .p {
          position: relative;
          align-self: stretch;
          margin-top: -1px;
          font-weight: 300;
          color: var(--black);
          font-size: 19px;
          letter-spacing: 0;
          line-height: 22.4px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }

        .container .div-2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          padding: 0px 200px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .typography-heading {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          position: relative;
          flex: 0 0 auto;
        }

        .container .text-wrapper-4 {
          position: relative;
          width: fit-content;
          margin-top: -1px;
          font-weight: 700;
          color: var(--primary-colorsgray-700);
          font-size: 40px;
          letter-spacing: 0;
          line-height: 43.6px;
        }

        .container .text-wrapper-5 {
          position: relative;
          align-self: stretch;
          font-weight: 400;
          color: var(--black);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 18.9px;
        }

        .container .div-3 {
          display: grid;
          grid-template-columns: 1fr 1.3fr;
          gap: 32px;
          width: 100%;
        }

        .container .div-7 {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 32px;
        }

        .container .frame-5 {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          position: relative;
          flex: 0 0 auto;
        }

        .container .frame-6 {
          display: flex;
          flex-wrap: wrap;
          width: 510px;
          align-items: flex-start;
          gap: 0px 0px;
          position: relative;
          flex: 0 0 auto;
          margin-top: -1px;
          margin-left: -1px;
          margin-right: -1px;
          border-radius: 5px;
          border: 1px solid;
          border-color: var(--primary-colorsgray-400);
        }

        .container .frame-7 {
          display: flex;
          flex-direction: column;
          min-width: 170px;
          align-items: center;
          gap: 8px;
          padding: 12px 16px;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .text-wrapper-6 {
          align-self: stretch;
          margin-top: -1px;
          font-weight: 900;
          color: var(--primary-colorsblue-700);
          font-size: 56px;
          text-align: center;
          letter-spacing: 3.36px;
          line-height: 60.7px;
        }

        .container .text-wrapper-7 {
          width: fit-content;
          font-weight: 700;
          color: var(--primary-colorsblue-700);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 18.9px;
        }

        .container .rectangle {
          position: relative;
          width: 1px;
          height: 112px;
          background-color: var(--primary-colorsgray-400);
          transform: rotate(180deg);
        }

        .container .rectangle-2 {
          width: 508px;
          position: relative;
          height: 1px;
          background-color: var(--primary-colorsgray-400);
        }

        .container .frame-8 {
          display: flex;
          flex-direction: column;
          min-width: 170px;
          align-items: center;
          gap: 8px;
          padding: 12px 16px;
          position: relative;
          flex: 1;
          flex-grow: 1;
          background-color: var(--primary-colorsblue-10);
        }

        .container .text-wrapper-8 {
          align-self: stretch;
          font-weight: 400;
          color: var(--primary-colorsgray-600);
          font-size: 14px;
          letter-spacing: 0;
          line-height: 15.3px;
        }

        .container .frame-9 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .cards-traceability {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 0px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
          background-color: var(--white);
          border-radius: 4px;
        }

        .container .div-4 {
          display: inline-flex;
          align-items: center;
          gap: 12px;
          position: relative;
          flex: 0 0 auto;
        }

        .container .frame-10 {
          display: flex;
          flex-direction: column;
          width: 260px;
          align-items: flex-start;
          gap: 4px;
          position: relative;
        }

        .container .text-wrapper-9 {
          position: relative;
          align-self: stretch;
          margin-top: -1px;
          font-weight: 600;
          color: var(--black);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
        }

        .container .frame-11 {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px 32px;
          /* flex: 0 0 auto; */
        }

        .container .text-wrapper-10 {
          width: fit-content;
          margin-top: -1px;
          font-weight: 900;
          color: var(--primary-colorsblue-700);
          font-size: 56px;
          letter-spacing: 3.36px;
          line-height: 60.7px;
        }

        .container .co-eq {
          position: relative;
          width: 130px;
          font-weight: 400;
          color: var(--primary-colorsgray-600);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
        }

        .container .span {
          font-weight: 400;
          color: #55606e;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
        }

        .container .text-wrapper-11 {
          font-size: 20px;
          line-height: 21.8px;
        }

        .container .div-5 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .data-two-columns {
          display: flex;
          align-items: flex-start;
          gap: 16px;
          padding: 10px 0px 12px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-color: var(--primary-colorsgray-400);
        }

        .container .text-wrapper-12 {
          position: relative;
          width: 110px;
          margin-top: -1px;
          font-weight: 400;
          color: var(--primary-colorsgray-600);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
        }

        .container .data-data {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          align-self: stretch;
          flex-grow: 1;
          position: relative;
          flex: 1;
        }

        .container .data {
          position: relative;
          flex: 1;
          margin-top: -1px;
          font-weight: 500;
          color: var(--primary-colorsgray-700);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
        }

        .container .data-2 {
          font-weight: 500;
          color: var(--primary-colorsgray-700);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
          position: relative;
          flex: 1;
        }

        .container .frame-12 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .data-data-link {
          flex-direction: column;
          align-items: flex-start;
          gap: 6px;
          align-self: stretch;
          display: flex;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .line-wrapper {
          flex-wrap: wrap;
          gap: 10px 10px;
          display: inline-flex;
          align-items: flex-start;
          padding: 0px 0px 3px;
          position: relative;
          flex: 0 0 auto;
          border-bottom-width: 2px;
          border-bottom-style: solid;
          border-color: var(--primary-colorsblue-400);
        }

        .container .frame-13 {
          display: flex;
          align-items: flex-start;
          gap: 4px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .text-wrapper-13 {
          width: fit-content;
          font-weight: 400;
          color: var(--primary-colorsgray-600);
          font-size: 14px;
          letter-spacing: 0;
          line-height: 15.3px;
          position: relative;
          margin-top: -1px;
        }

        .container .text-wrapper-14 {
          position: relative;
          width: 358px;
          margin-top: -1px;
          font-weight: 700;
          color: var(--primary-colorsgray-700);
          font-size: 40px;
          letter-spacing: 0;
          line-height: 43.6px;
        }

        .container .frame-14 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          padding: 0px 32px 32px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
          background-color: var(--primary-colorsblue-10);
          border-radius: 4px;
          overflow: hidden;
        }

        .container .frame-15 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 12px;
          padding: 16px 0px 0px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .environment {
          position: relative;
          align-self: stretch;
          margin-top: -1px;
          font-weight: 400;
          color: var(--primary-colorsgray-600);
          font-size: 14px;
          letter-spacing: 0;
          line-height: 19.2px;
          text-transform: uppercase;
        }

        .container .text-wrapper-15 {
          position: relative;
          align-self: stretch;
          font-weight: 400;
          color: var(--primary-colorsblue-700);
          font-size: 18px;
          letter-spacing: 0;
          line-height: 21.2px;
        }

        .container .frame-16 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 24px;
          column-gap: 32px;
          align-self: stretch;
        }

        .container .frame-17 {
          display: flex;
          flex-direction: column;
          min-width: 400px;
          align-items: flex-start;
          gap: 4px;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .data-wrapper {
          align-items: center;
          justify-content: center;
          gap: 10px;
          display: flex;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .text-wrapper-16 {
          position: relative;
          align-self: stretch;
          font-weight: 400;
          color: var(--primary-colorsgray-700);
          font-size: 14px;
          letter-spacing: 0;
          line-height: 19.2px;
        }

        .container .frame-18 {
          display: flex;
          flex-direction: column;
          min-width: 400px;
          align-items: flex-start;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .frame-19 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        .container .frame-20 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .cards-traceability-2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 0px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
          border-radius: 4px;
        }

        .container .frame-21 {
          display: inline-flex;
          align-items: center;
          gap: 8px;
          position: relative;
          flex: 0 0 auto;
        }

        .container .company-name {
          position: relative;
          align-self: stretch;
          margin-top: -1px;
          font-weight: 400;
          color: var(--black);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
        }

        .container .frame-22 {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .rectangle-3 {
          align-self: stretch;
          width: 100%;
          position: relative;
          height: 1px;
          background-color: var(--primary-colorsgray-400);
        }

        .container .frame-23 {
          display: flex;
          align-items: flex-start;
          gap: 8px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .div-6 {
          position: relative;
          width: fit-content;
          margin-top: -1px;
          font-weight: 400;
          color: var(--primary-colorsgray-700);
          font-size: 14px;
          letter-spacing: 0;
          line-height: 19.2px;
        }

        .container .text-wrapper-17 {
          font-weight: 400;
          color: #232e3d;
          font-size: 14px;
          letter-spacing: 0;
          line-height: 19.2px;
        }

        .container .text-wrapper-18 {
          font-size: 16px;
          font-weight: 500;
          line-height: 17.44px;
          color: #232E3D;
        }

        .container .black-line {
          text-decoration: none;
          color: #232e3d;
          border-bottom: 1px solid;
        }

        .container .frame-24 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          padding: 0px 200px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .heading-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .heading {
          flex: 1;
          position: relative;
          margin-top: -1px;
          font-weight: 700;
          color: var(--primary-colorsgray-700);
          font-size: 40px;
          letter-spacing: 0;
          line-height: 43.6px;
        }

        .container .cards {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: flex-start;
          gap: 20px 20px;
          align-self: stretch;
        }

        .container .cards-composition {
          display: flex;
          min-width: 400px;
          align-items: flex-start;
          justify-content: space-between;
          padding: 20px;
          position: relative;
          flex: 1;
          flex-grow: 1;
          background-color: var(--white);
          border-radius: 4px;
          border: 1px solid;
          border-color: var(--primary-colorsgray-400);
        }

        .container .first-column {
          display: flex;
          width: 260px;
          align-items: flex-start;
          gap: 12px;
          position: relative;
        }

        .container .percentage {
          position: relative;
          width: 40px;
          margin-top: -1px;
          font-weight: 500;
          color: var(--black);
          font-size: 15px;
          letter-spacing: 0;
          line-height: 20.6px;
        }

        .container .details {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 6px;
          position: relative;
          flex: 1;
          flex-grow: 1;
        }

        .container .frame-25 {
          display: inline-flex;
          align-items: flex-start;
          gap: 6px;
          position: relative;
          flex: 0 0 auto;
        }

        .container .frame-26 {
          display: inline-flex;
          align-items: flex-start;
          gap: 4px;
          padding: 2px 4px;
          position: relative;
          flex: 0 0 auto;
          background-color: #d2e5f8;
        }

        .container .text-wrapper-19 {
          position: relative;
          width: fit-content;
          margin-top: -1px;
          font-weight: 400;
          color: var(--black);
          font-size: 14px;
          text-align: right;
          letter-spacing: 0;
          line-height: 19.2px;
        }

        .container .frame-27 {
          display: inline-flex;
          align-items: flex-start;
          gap: 4px;
          padding: 2px 4px;
          position: relative;
          flex: 0 0 auto;
          background-color: var(--primary-colorsblue-50);
        }

        .container .data-data-link-2 {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 6px;
          position: relative;
          flex: 0 0 auto;
        }

        .container .frame-28 {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
        }

        .container .frame-29 {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .container .type-of-event {
          position: relative;
          flex: 1;
          margin-top: -1px;
          font-weight: 400;
          color: var(--black);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
        }

        .container .text-wrapper-20 {
          position: relative;
          align-self: stretch;
          font-weight: 400;
          color: var(--primary-colorsblue-700);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 17.4px;
          cursor: pointer;
        }

        .container .this-digital-product-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 24px 200px 76px;
          position: relative;
          align-self: stretch;
          width: 100%;
          flex: 0 0 auto;
          background-color: var(--primary-colorsblue-10);
        }

        .container .this-digital-product {
          position: relative;
          flex: 1;
          margin-top: -1px;
          font-weight: 400;
          color: var(--primary-colorsgray-700);
          font-size: 14px;
          letter-spacing: 0;
          line-height: 19.2px;
        }

        :root {
          --highlight: rgba(0, 99, 83, 1);
          --primary-colorsblue-50: rgba(210, 229, 249, 1);
          --primary-colorsblue-10: rgba(247, 250, 253, 1);
          --primary-colorsgray-600: rgba(85, 96, 110, 1);
          --black: rgba(0, 0, 0, 1);
          --primary-colorsgray-700: rgba(35, 46, 61, 1);
          --primary-colorsblue-700: rgba(31, 90, 149, 1);
          --primary-colorsgray-400: rgba(212, 214, 216, 1);
          --primary-colorsblue-400: rgba(79, 149, 221, 1);
          --white: rgba(255, 255, 255, 1);
          --primary-colorsgray-300: rgba(237, 239, 240, 1);
          --utility-text-font-family: 'Roboto Mono', Helvetica;
          --utility-text-font-weight: 400;
          --utility-text-font-size: 16px;
          --utility-text-letter-spacing: 0px;
          --utility-text-line-height: 109.00000333786011%;
          --utility-text-font-style: normal;
        }
      }
    </style>
  </head>

  <body>
    <div class="container">
      <!-- Mobile width 390px-->
      <header class="header">
        <div class="header-image">
          <p class="header-image-top-left">PRODUCT PASSPORT</p>
          <div class="header-image-bottom-left">
            <h1>{{credentialSubject.name}}</h1>
          </div>
        </div>

        <div>
          <div class="header-batch">
            <div class="header-batch-item">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.45 3.5C2.17152 3.5 1.90445 3.38938 1.70754 3.19246C1.51062 2.99555 1.4 2.72848 1.4 2.45C1.4 2.17152 1.51062 1.90445 1.70754 1.70754C1.90445 1.51062 2.17152 1.4 2.45 1.4C2.72848 1.4 2.99555 1.51062 3.19246 1.70754C3.38938 1.90445 3.5 2.17152 3.5 2.45C3.5 2.72848 3.38938 2.99555 3.19246 3.19246C2.99555 3.38938 2.72848 3.5 2.45 3.5ZM13.587 6.706L7.287 0.406C7.035 0.154 6.685 0 6.3 0H1.4C0.623 0 0 0.623 0 1.4V6.3C0 6.685 0.154 7.035 0.413 7.287L6.706 13.587C6.965 13.839 7.315 14 7.7 14C8.085 14 8.435 13.839 8.687 13.587L13.587 8.687C13.846 8.435 14 8.085 14 7.7C14 7.308 13.839 6.958 13.587 6.706Z" fill="#1F5A95"/>
              </svg>
              <a href="{{credentialSubject.id}}" class="blue-bottom-line">ID: {{credentialSubject.id}}</a>
            </div>
            <div class="header-batch-item">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.45 3.5C2.17152 3.5 1.90445 3.38938 1.70754 3.19246C1.51062 2.99555 1.4 2.72848 1.4 2.45C1.4 2.17152 1.51062 1.90445 1.70754 1.70754C1.90445 1.51062 2.17152 1.4 2.45 1.4C2.72848 1.4 2.99555 1.51062 3.19246 1.70754C3.38938 1.90445 3.5 2.17152 3.5 2.45C3.5 2.72848 3.38938 2.99555 3.19246 3.19246C2.99555 3.38938 2.72848 3.5 2.45 3.5ZM13.587 6.706L7.287 0.406C7.035 0.154 6.685 0 6.3 0H1.4C0.623 0 0 0.623 0 1.4V6.3C0 6.685 0.154 7.035 0.413 7.287L6.706 13.587C6.965 13.839 7.315 14 7.7 14C8.085 14 8.435 13.839 8.687 13.587L13.587 8.687C13.846 8.435 14 8.085 14 7.7C14 7.308 13.839 6.958 13.587 6.706Z" fill="#1F5A95"/>
              </svg>
              <a>Batch: {{credentialSubject.batchNumber}}</a>
            </div>
            <div class="header-batch-item">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.45 3.5C2.17152 3.5 1.90445 3.38938 1.70754 3.19246C1.51062 2.99555 1.4 2.72848 1.4 2.45C1.4 2.17152 1.51062 1.90445 1.70754 1.70754C1.90445 1.51062 2.17152 1.4 2.45 1.4C2.72848 1.4 2.99555 1.51062 3.19246 1.70754C3.38938 1.90445 3.5 2.17152 3.5 2.45C3.5 2.72848 3.38938 2.99555 3.19246 3.19246C2.99555 3.38938 2.72848 3.5 2.45 3.5ZM13.587 6.706L7.287 0.406C7.035 0.154 6.685 0 6.3 0H1.4C0.623 0 0 0.623 0 1.4V6.3C0 6.685 0.154 7.035 0.413 7.287L6.706 13.587C6.965 13.839 7.315 14 7.7 14C8.085 14 8.435 13.839 8.687 13.587L13.587 8.687C13.846 8.435 14 8.085 14 7.7C14 7.308 13.839 6.958 13.587 6.706Z" fill="#1F5A95"/>
              </svg>
              <a>Serial: {{credentialSubject.serialNumber}}</a>
            </div>
          </div>
        </div>
      </header>

      <section class="information">
        <div class="information-text">
          {{credentialSubject.description}}
        </div>
        <div class="information-show-more">
          <!-- FIXME -->
          <a href="{{credentialSubject.furtherInformation.0.linkURL}}" class="blue-bottom-line">Further information...</a>
        </div>

      </section>

      <section class="passport">
        <div class="passport-issued-by-header">
          <h3>Circularity Scorecard</h3>
          <p>The circularity Scorecard provides a simple high level summary of circularity performance of the product.</p>
        </div>

        <div class="passport-box">
          <div class="passport-box-item">
            <!-- FIXME -->
            <h3>{{credentialSubject.circularityScorecard.recyclableContent}}</h3>
            <p>Recyclable content</p>
          </div>
          <div class="passport-box-item">
            <!-- FIXME -->
            <h3>{{credentialSubject.circularityScorecard.recycledContent}}</h3>
            <p>Recycled content</p>
          </div>
          <div class="passport-box-item">
            <!-- FIXME -->
            <h3>{{credentialSubject.circularityScorecard.utilityFactor}}</h3>
            <p>Utility factor</p>
          </div>
          <div class="passport-box-item">
            <!-- FIXME -->
            <h3>{{credentialSubject.circularityScorecard.materialCircularityIndicator}}</h3>
            <p>Material circularity*</p>
          </div>
        </div>

        <div class="passport-annotation">
          <p>*The Material Circularity Indicator provides an overall circularity score which is a function of all three of the earlier measures.</p>
        </div>

        <div class="traceability-cards">
          <!-- FIXME -->
          <a href="{{credentialSubject.circularityScorecard.recyclingInformation.linkURL}}" class="traceability-card">
            <div class="traceability-card-text">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.82 15.42L19.32 19.75C18.83 20.61 17.92 21.06 17 21H15V23L12.5 18.5L15 14V16H17.82L15.6 12.15L19.93 9.65L21.73 12.77C22.25 13.54 22.32 14.57 21.82 15.42ZM9.21003 3.06H14.21C15.19 3.06 16.04 3.63 16.45 4.45L17.45 6.19L19.18 5.19L16.54 9.6L11.39 9.69L13.12 8.69L11.71 6.24L9.50003 10.09L5.16003 7.59L6.96003 4.47C7.37003 3.64 8.22003 3.06 9.21003 3.06ZM5.05003 19.76L2.55003 15.43C2.06003 14.58 2.13003 13.56 2.64003 12.79L3.64003 11.06L1.91003 10.06L7.05003 10.14L9.70003 14.56L7.97003 13.56L6.56003 16H11V21H7.40003C6.93154 21.0339 6.46293 20.9357 6.0475 20.7165C5.63206 20.4973 5.28648 20.1659 5.05003 19.76Z" fill="#1F5A95"/>
                </svg>
              <p>Recycling instructions</p>
            </div>
            <div class="traceability-card-view-details">
              <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8 8L1 15" stroke="#1F5A95" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                
            </div>
          </a>
          <!-- FIXME -->
          <a href="{{credentialSubject.circularityScorecard.repairInformation.linkURL}}" class="traceability-card">
            <div class="traceability-card-text">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.85 21.975C18.7167 21.975 18.5917 21.9543 18.475 21.913C18.3583 21.8717 18.25 21.8007 18.15 21.7L13.05 16.6C12.95 16.5 12.879 16.3917 12.837 16.275C12.795 16.1583 12.7743 16.0333 12.775 15.9C12.7757 15.7667 12.7967 15.6417 12.838 15.525C12.8793 15.4083 12.95 15.3 13.05 15.2L15.175 13.075C15.275 12.975 15.3833 12.9043 15.5 12.863C15.6167 12.8217 15.7417 12.8007 15.875 12.8C16.0083 12.7993 16.1333 12.8203 16.25 12.863C16.3667 12.9057 16.475 12.9763 16.575 13.075L21.675 18.175C21.775 18.275 21.846 18.3833 21.888 18.5C21.93 18.6167 21.9507 18.7417 21.95 18.875C21.9493 19.0083 21.9287 19.1333 21.888 19.25C21.8473 19.3667 21.7763 19.475 21.675 19.575L19.55 21.7C19.45 21.8 19.3417 21.871 19.225 21.913C19.1083 21.955 18.9833 21.9757 18.85 21.975ZM18.85 19.6L19.575 18.875L15.9 15.2L15.175 15.925L18.85 19.6ZM5.125 22C4.99167 22 4.86267 21.975 4.738 21.925C4.61333 21.875 4.50067 21.8 4.4 21.7L2.3 19.6C2.2 19.5 2.125 19.3873 2.075 19.262C2.025 19.1367 2 19.008 2 18.876C2 18.744 2.025 18.619 2.075 18.501C2.125 18.383 2.2 18.2747 2.3 18.176L7.6 12.876H9.725L10.575 12.026L6.45 7.9H5.025L2 4.875L4.825 2.05L7.85 5.075V6.5L11.975 10.625L14.875 7.725L13.8 6.65L15.2 5.25H12.375L11.675 4.55L15.225 1L15.925 1.7V4.525L17.325 3.125L20.875 6.675C21.1583 6.95833 21.375 7.27933 21.525 7.638C21.675 7.99667 21.75 8.37567 21.75 8.775C21.75 9.17433 21.675 9.55767 21.525 9.925C21.375 10.2923 21.1583 10.6173 20.875 10.9L18.75 8.775L17.35 10.175L16.3 9.125L11.125 14.3V16.4L5.825 21.7C5.725 21.8 5.61667 21.875 5.5 21.925C5.38333 21.975 5.25833 22 5.125 22ZM5.125 19.6L9.375 15.35V14.625H8.65L4.4 18.875L5.125 19.6ZM5.125 19.6L4.4 18.875L4.775 19.225L5.125 19.6Z" fill="#1F5A95"/>
                </svg>
              <p>Repair instructions</p>
            </div>
            <div class="traceability-card-view-details">
              <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8 8L1 15" stroke="#1F5A95" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
          </a>
        </div>
      </section>

      <section class="emission-score-card">
        <h3 class="mission-score-title">Emissions Scorecard</h3>
        <p class="mission-score-description">The Emissions Scorecard gives a clear snapshot of the product's greenhouse gas (GHG) emissions performance, providing a single indicator to assess its overall environmental impact.</p>
        <div class="score">
          <!-- FIXME -->
          <p class="score-unit">{{credentialSubject.emissionsScorecard.carbonFootprint}}{{credentialSubject.emissionsScorecard.declaredUnit}}</p>
          <!-- FIXME -->
          <p class="score-name">Co2Eq</p>
        </div>
        <div class="table">
          <div class="table-item">
            <span class="item-title">Scope includes</span>
            <!-- FIXME -->
            <p class="item-value">{{credentialSubject.emissionsScorecard.operationalScope}}</p>
          </div>
          <div class="table-item">
            <span class="item-title">Primary sourced ratio*</span>
            <!-- FIXME -->
            <p class="item-value">{{credentialSubject.emissionsScorecard.primarySourcedRatio}}% primary sources</p>
          </div>
          <div class="table-item">
            <span class="item-title">Reporting standard</span>
            <div class="item-value">
              <!-- FIXME -->
              <a href="{{credentialSubject.emissionsScorecard.reportingStandard.id}}" class="blue-bottom-line">{{credentialSubject.emissionsScorecard.reportingStandard.name}}</a>
            </div>
          </div>
          <div class="table-item">
            <span class="item-title">Issue date</span>
            <!-- FIXME -->
            <p class="item-value">{{credentialSubject.emissionsScorecard.reportingStandard.issueDate}}</p>
          </div>
        </div>
        <div class="annotation">
          <span>*</span>
          <p>The Primary Sourced Ratio shows the percentage of scope 3 emissions data that is directly collected from actual sources, rather than being based on estimates.</p>
        </div>
      </section>

      <section class="declarations">
        <div class="declaration-title">Declarations</div>
        <!-- FIXME -->
        {{#each credentialSubject.conformityDeclarations}}
        <div class="declaration-body">
          <div class="conformity">
            <!-- FIXME -->
            <p class="conformity-topic">{{conformityTopic}}</p>
            <!-- FIXME -->
            <p class="conformity-evidence-name">{{conformityEvidence.linkName}}</p>
          </div>
          <!-- FIXME -->
          <div class="declared-values">
            <p class="declared-title">Declared values</p>
            {{#each declaredValues}}
            <div class="table">
              <div class="table-item">
                <span class="item-title">Name</span>
                <!-- FIXME -->
                <p class="item-value">{{metricName}}</p>
              </div>
              <div class="table-item">
                <span class="item-title">Value</span>
                <!-- FIXME -->
                <p class="item-value">{{metricValue.value}}{{metricValue.unit}}</p>
              </div>
              <div class="table-item">
                <span class="item-title">Accuracy</span>
                <!-- FIXME -->
                <div class="item-value">{{accuracy}}</div>
              </div>
            </div>
            {{/each}}
          </div>

          <div class="assessment-criteria">
            <p class="assessment-criteria-title">Assessment Criteria</p>
            <!-- FIXME -->
            {{#each assessmentCriteria}}
            <div class="assessment-criteria-list">
              <ul class="assessment-criteria-item">
                <li>
                    Industry average {{name}} is <span>{{thresholdValues.0.metricValue.value}}{{thresholdValues.0.metricValue.unit}}</span>.
                    <div><a href="{{id}}" class="blue-bottom-line">Assessment criteria</a></div>
                </li>
              </ul>
            </div>
            {{/each}}
          </div>

          <div class="traceability-cards">
            <!-- FIXME -->
            <a href="{{conformityEvidence.linkURL}}" class="traceability-card">
              <div class="traceability-card-text">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 21C4.45 21 3.97933 20.8043 3.588 20.413C3.19667 20.0217 3.00067 19.5507 3 19V5C3 4.45 3.196 3.97933 3.588 3.588C3.98 3.19667 4.45067 3.00067 5 3H19C19.55 3 20.021 3.196 20.413 3.588C20.805 3.98 21.0007 4.45067 21 5V19C21 19.55 20.8043 20.021 20.413 20.413C20.0217 20.805 19.5507 21.0007 19 21H5ZM5 5V19H19V5H17V12L14.5 10.5L12 12V5H5Z" fill="#1F5A95"/>
                  </svg>                
                <p>Conformity evidence</p>
              </div>
              <div class="traceability-card-view-details">
                <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L8 8L1 15" stroke="#1F5A95" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>                
              </div>
            </a>
          </div>
          <div class="table-line"></div>
          <div class="annotation">
            <!-- FIXME -->
            <p>Administered in {{referenceRegulation.jurisdictionCountry}} by <a href="{{referenceRegulation.administeredBy.id}}" class="gray-bottom-line">{{referenceRegulation.administeredBy.name}}</a> Issued by <a href="{{referenceStandard.issuingParty.id}}" class="gray-bottom-line">{{referenceStandard.issuingParty.name}}</a>, 2024 </p>
          </div>
        </div>
      {{/each}}
      </section>

      <section class="production">
        <div class="production-title">Production</div>
        <div class="product-table table">
          <div class="table-item">
            <span class="item-title">Product category</span>
            <!-- FIXME -->
            <p class="item-value">{{#each credentialSubject.productCategory}}{{name}}{{/each}}</p>
          </div>
          <div class="table-item">
            <span class="item-title">Produced by</span>
            <!-- FIXME -->
            <a href="{{credentialSubject.producedByParty.id}}" class="item-value blue-bottom-line">{{credentialSubject.producedByParty.name}}</a>
          </div>
          <div class="table-item">
            <span class="item-title">Produced at</span>
            <div class="item-value">
              <!-- FIXME -->
              <a href="{{credentialSubject.producedAtFacility.id}}" class="blue-bottom-line">{{credentialSubject.producedAtFacility.name}}</a>
            </div>
          </div>
          <div class="table-item">
            <span class="item-title">Date produced</span>
            <!-- FIXME -->
            <p class="item-value">{{credentialSubject.productionDate}}</p>
          </div>
          <div class="table-item">
            <span class="item-title">Country</span>
            <!-- FIXME -->
            <p class="item-value">{{credentialSubject.countryOfProduction}}</p>
          </div>
          <div class="table-item">
            <span class="item-title">Dimensions</span>
            <!-- FIXME -->
            <p class="item-value">{{credentialSubject.dimensions.length.value}}{{credentialSubject.dimensions.length.unit}} x {{credentialSubject.dimensions.width.value}}{{credentialSubject.dimensions.width.unit}} x {{credentialSubject.dimensions.height.value}}{{credentialSubject.dimensions.height.unit}}</p>
          </div>
        </div>
      </section>

      <!-- FIXME: characteristics?????  -->
      {{!-- <section class="production">
        <div class="production-title">Production data</div>
        <div class="product-table table">
          <div class="table-item">
            <span class="item-title">Battery status</span>
            <p class="item-value">Recycled</p>
          </div>
          <div class="table-item">
            <span class="item-title">Battery cell type</span>
            <p class="item-value">Prismatic</p>
          </div>
          <div class="table-item">
            <span class="item-title">Number of cells per battery</span>
            <div class="item-value">
              <p class="item-value">180</p>
            </div>
          </div>
          <div class="table-item">
            <span class="item-title">Total energy</span>
            <p class="item-value">100kwh</p>
          </div>
        </div>
      </section> --}}

      <section class="composition">
        <div>
          <p class="section-title">Composition</p>
          <p class="section-description">
            The Product Composition List details the materials and components used in the product, providing transparency on the origin and nature of each element.
          </p>
        </div>

        <div class="composition-box">
          <!-- FIXME -->
          {{#each credentialSubject.materialsProvenance}}
          <div class="composition-box-item">
            <div class="composition-box-first-column">
              <!-- FIXME -->
              <p class="composition-percent">{{massFraction}}</p>
              <div class="composition-box-second-column">
                <!-- FIXME -->
                <p class="composition-title">{{name}}</p>
                <div class="composition-tag">
                  <!-- FIXME -->
                  <p class="composition-tag-item">Recycled {{recycledAmount}}</p>
                  <!-- FIXME -->
                  <p class="composition-tag-item">Hazard {{hazardous}}</p>
                </div>
                <!-- FIXME -->
                <a href="{{materialSafetyInformation.linkURL}}" class="blue-bottom-line">{{materialSafetyInformation.linkName}}</a>
              </div>
            </div>

            <div class="composition-box-third-column">
              <!-- FIXME -->
              <div class="country-code">{{originCountry}}</div>
            </div>
          </div>
          {{/each}}
        </div>
      </section>

      <section class="history">
        <div>
          <p class="section-title">History</p>
        </div>

        <div id="history-items-390px" class="history-event">
          <!-- FIXME -->
          {{#each credentialSubject.traceabilityInformation}}
          <div class="history-item">
            <!-- FIXME -->
            <span>{{linkName}}</span>
            <!-- FIXME -->
            <a href="{{linkURL}}">View</a>
          </div>
          {{/each}}
        </div>

        <div id="view-more-btn-mobile" class="view-more-button">View more</div>
      </section>

      <section class="passport-issued-by">
        <div>
          <h2 class="section-title">Passport issued by</h2>
        </div>
        <div class="table">
          <div class="table-item">
            <span>Organisation</span>
            <!-- FIXME -->
            <p>{{issuer.name}}</p>
          </div>
          <div class="table-item">
            <span>Registered ID</span>
            <!-- FIXME -->
            <a href="{{issuer.id}}" class="blue-bottom-line">{{issuer.id}}</a>
          </div>
          <div class="table-item">
            <span>Valid from</span>
            <!-- FIXME -->
            <p>{{validFrom}}</p>
          </div>
          <div class="table-item">
            <span>Valid to</span>
            <!-- FIXME -->
            <p>{{validUntil}}</p>
          </div>
        </div>
      </section>

      <footer>
        <p>This Digital Product Passport (DPP) is a digital record of the product's sustainability and environmental performance, ensuring transparency and accountability in line with UNTP standards. The DPP can be verified at any time using the QR code or visiting <a href="www.untp-certification.org" class="gray-bottom-line">www.untp-certification.org</a> with the passport ID.</p>
      </footer>
      <!-- End mobile -->

      <!-- Desktop width 1440px -->
      <div class="contents">
        <div class="frame">
          <div class="PP-title">PRODUCT PASSPORT</div>
          <div class="text-wrapper">{{credentialSubject.name}}</div>
          <div class="product-ID-ALT">
            <div class="div">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.45 3.5C2.17152 3.5 1.90445 3.38938 1.70754 3.19246C1.51062 2.99555 1.4 2.72848 1.4 2.45C1.4 2.17152 1.51062 1.90445 1.70754 1.70754C1.90445 1.51062 2.17152 1.4 2.45 1.4C2.72848 1.4 2.99555 1.51062 3.19246 1.70754C3.38938 1.90445 3.5 2.17152 3.5 2.45C3.5 2.72848 3.38938 2.99555 3.19246 3.19246C2.99555 3.38938 2.72848 3.5 2.45 3.5ZM13.587 6.706L7.287 0.406C7.035 0.154 6.685 0 6.3 0H1.4C0.623 0 0 0.623 0 1.4V6.3C0 6.685 0.154 7.035 0.413 7.287L6.706 13.587C6.965 13.839 7.315 14 7.7 14C8.085 14 8.435 13.839 8.687 13.587L13.587 8.687C13.846 8.435 14 8.085 14 7.7C14 7.308 13.839 6.958 13.587 6.706Z" fill="#1F5A95"/>
              </svg>
              <a href="{{credentialSubject.id}}" class="line"><div class="text-wrapper-2">ID: {{credentialSubject.id}}</div></a>
            </div>
            <div class="div">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.45 3.5C2.17152 3.5 1.90445 3.38938 1.70754 3.19246C1.51062 2.99555 1.4 2.72848 1.4 2.45C1.4 2.17152 1.51062 1.90445 1.70754 1.70754C1.90445 1.51062 2.17152 1.4 2.45 1.4C2.72848 1.4 2.99555 1.51062 3.19246 1.70754C3.38938 1.90445 3.5 2.17152 3.5 2.45C3.5 2.72848 3.38938 2.99555 3.19246 3.19246C2.99555 3.38938 2.72848 3.5 2.45 3.5ZM13.587 6.706L7.287 0.406C7.035 0.154 6.685 0 6.3 0H1.4C0.623 0 0 0.623 0 1.4V6.3C0 6.685 0.154 7.035 0.413 7.287L6.706 13.587C6.965 13.839 7.315 14 7.7 14C8.085 14 8.435 13.839 8.687 13.587L13.587 8.687C13.846 8.435 14 8.085 14 7.7C14 7.308 13.839 6.958 13.587 6.706Z" fill="#1F5A95"/>
              </svg>
              <div class="div-wrapper"><div class="text-wrapper-3">Batch: {{credentialSubject.batchNumber}}</div></div>
            </div>
            <div class="div">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.45 3.5C2.17152 3.5 1.90445 3.38938 1.70754 3.19246C1.51062 2.99555 1.4 2.72848 1.4 2.45C1.4 2.17152 1.51062 1.90445 1.70754 1.70754C1.90445 1.51062 2.17152 1.4 2.45 1.4C2.72848 1.4 2.99555 1.51062 3.19246 1.70754C3.38938 1.90445 3.5 2.17152 3.5 2.45C3.5 2.72848 3.38938 2.99555 3.19246 3.19246C2.99555 3.38938 2.72848 3.5 2.45 3.5ZM13.587 6.706L7.287 0.406C7.035 0.154 6.685 0 6.3 0H1.4C0.623 0 0 0.623 0 1.4V6.3C0 6.685 0.154 7.035 0.413 7.287L6.706 13.587C6.965 13.839 7.315 14 7.7 14C8.085 14 8.435 13.839 8.687 13.587L13.587 8.687C13.846 8.435 14 8.085 14 7.7C14 7.308 13.839 6.958 13.587 6.706Z" fill="#1F5A95"/>
              </svg>
              <div class="div-wrapper"><div class="text-wrapper-2">Serial: {{credentialSubject.serialNumber}}</div></div>
            </div>
          </div>
          <div class="frame-2">
            <div class="PP-header"><div class="frame-3"></div></div>
            <div class="frame-4">
              <p class="p">
                {{credentialSubject.description}}
              </p>
              <!-- FIXME -->
              <a href="{{credentialSubject.furtherInformation.0.linkURL}}" class="line"><div class="text-wrapper-2">Further information...</div></a>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="typography-heading">
            <div class="text-wrapper-4">Circularity Scorecard</div>
          </div>
          <p class="text-wrapper-5">
            The circularity Scorecard provides a simple high level summary of circularity
            performance of the product.
          </p>
          <div class="div-3">
            <div class="frame-5">
              <div class="frame-6">
                <div class="frame-7">
                  <!-- FIXME -->
                  <div class="text-wrapper-6">{{credentialSubject.circularityScorecard.recyclableContent}}</div>
                  <div class="text-wrapper-7">Recyclable content</div>
                </div>
                <div class="rectangle"></div>
                <div class="frame-7">
                  <!-- FIXME -->
                  <div class="text-wrapper-6">{{credentialSubject.circularityScorecard.recycledContent}}</div>
                  <div class="text-wrapper-7">Recycled content</div>
                </div>
                <div class="rectangle-2"></div>
                <div class="frame-7">
                  <!-- FIXME -->
                  <div class="text-wrapper-6">{{credentialSubject.circularityScorecard.utilityFactor}}</div>
                  <div class="text-wrapper-7">Utility factor</div>
                </div>
                <div class="rectangle"></div>
                <div class="frame-8">
                  <!-- FIXME -->
                  <div class="text-wrapper-6">{{credentialSubject.circularityScorecard.materialCircularityIndicator}}</div>
                  <div class="text-wrapper-7">Material circularity*</div>
                </div>
              </div>
              <p class="text-wrapper-8">
                *The Material Circularity Indicator provides an overall circularity score which is a function of all three of the earlier measures.
              </p>
            </div>
            <div class="frame-9">
              <!-- FIXME -->
              <a href="{{credentialSubject.circularityScorecard.recyclingInformation.linkURL}}" class="cards-traceability">
                <div class="div-4">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.82 15.42L19.32 19.75C18.83 20.61 17.92 21.06 17 21H15V23L12.5 18.5L15 14V16H17.82L15.6 12.15L19.93 9.65L21.73 12.77C22.25 13.54 22.32 14.57 21.82 15.42ZM9.21003 3.06H14.21C15.19 3.06 16.04 3.63 16.45 4.45L17.45 6.19L19.18 5.19L16.54 9.6L11.39 9.69L13.12 8.69L11.71 6.24L9.50003 10.09L5.16003 7.59L6.96003 4.47C7.37003 3.64 8.22003 3.06 9.21003 3.06ZM5.05003 19.76L2.55003 15.43C2.06003 14.58 2.13003 13.56 2.64003 12.79L3.64003 11.06L1.91003 10.06L7.05003 10.14L9.70003 14.56L7.97003 13.56L6.56003 16H11V21H7.40003C6.93154 21.0339 6.46293 20.9357 6.0475 20.7165C5.63206 20.4973 5.28648 20.1659 5.05003 19.76Z" fill="#1F5A95"/>
                    </svg>
                  <div class="frame-10">
                    <div class="text-wrapper-9">Recycling instructions</div>
                  </div>
                </div>
                <div class="div-4">
                  <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8 8L1 15" stroke="#1F5A95" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
              </a>
              <!-- FIXME -->
              <a href="{{credentialSubject.circularityScorecard.repairInformation.linkURL}}" class="cards-traceability">
                <div class="div-4">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.85 21.975C18.7167 21.975 18.5917 21.9543 18.475 21.913C18.3583 21.8717 18.25 21.8007 18.15 21.7L13.05 16.6C12.95 16.5 12.879 16.3917 12.837 16.275C12.795 16.1583 12.7743 16.0333 12.775 15.9C12.7757 15.7667 12.7967 15.6417 12.838 15.525C12.8793 15.4083 12.95 15.3 13.05 15.2L15.175 13.075C15.275 12.975 15.3833 12.9043 15.5 12.863C15.6167 12.8217 15.7417 12.8007 15.875 12.8C16.0083 12.7993 16.1333 12.8203 16.25 12.863C16.3667 12.9057 16.475 12.9763 16.575 13.075L21.675 18.175C21.775 18.275 21.846 18.3833 21.888 18.5C21.93 18.6167 21.9507 18.7417 21.95 18.875C21.9493 19.0083 21.9287 19.1333 21.888 19.25C21.8473 19.3667 21.7763 19.475 21.675 19.575L19.55 21.7C19.45 21.8 19.3417 21.871 19.225 21.913C19.1083 21.955 18.9833 21.9757 18.85 21.975ZM18.85 19.6L19.575 18.875L15.9 15.2L15.175 15.925L18.85 19.6ZM5.125 22C4.99167 22 4.86267 21.975 4.738 21.925C4.61333 21.875 4.50067 21.8 4.4 21.7L2.3 19.6C2.2 19.5 2.125 19.3873 2.075 19.262C2.025 19.1367 2 19.008 2 18.876C2 18.744 2.025 18.619 2.075 18.501C2.125 18.383 2.2 18.2747 2.3 18.176L7.6 12.876H9.725L10.575 12.026L6.45 7.9H5.025L2 4.875L4.825 2.05L7.85 5.075V6.5L11.975 10.625L14.875 7.725L13.8 6.65L15.2 5.25H12.375L11.675 4.55L15.225 1L15.925 1.7V4.525L17.325 3.125L20.875 6.675C21.1583 6.95833 21.375 7.27933 21.525 7.638C21.675 7.99667 21.75 8.37567 21.75 8.775C21.75 9.17433 21.675 9.55767 21.525 9.925C21.375 10.2923 21.1583 10.6173 20.875 10.9L18.75 8.775L17.35 10.175L16.3 9.125L11.125 14.3V16.4L5.825 21.7C5.725 21.8 5.61667 21.875 5.5 21.925C5.38333 21.975 5.25833 22 5.125 22ZM5.125 19.6L9.375 15.35V14.625H8.65L4.4 18.875L5.125 19.6ZM5.125 19.6L4.4 18.875L4.775 19.225L5.125 19.6Z" fill="#1F5A95"/>
                    </svg>   
                  <div class="frame-10"><div class="text-wrapper-9">Repair instructions</div></div>
                </div>
                <div class="div-4">
                  <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8 8L1 15" stroke="#1F5A95" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="typography-heading">
            <div class="text-wrapper-4">Emissions Scorecard</div>
          </div>
          <p class="text-wrapper-5">
            The Emissions Scorecard gives a clear snapshot of the product's greenhouse gas (GHG) emissions performance, providing a single indicator to assess its overall environmental impact.
          </p>
          <div class="div-7">
            <div class="frame-11">
              <!-- FIXME -->
              <div class="text-wrapper-10">{{credentialSubject.emissionsScorecard.carbonFootprint}}{{credentialSubject.emissionsScorecard.declaredUnit}}</div>
              <p class="co-eq">
                <!-- FIXME -->
                <span class="span">Co2Eq</span>
              </p>
            </div>
            <div class="frame-9">
              <div class="div-3">
                <div class="frame-9">
                  <div class="div-5">
                    <div class="data-two-columns">
                      <div class="text-wrapper-12">Scope includes</div>
                      <!-- FIXME -->
                      <div class="data-data"><div class="data">{{credentialSubject.emissionsScorecard.operationalScope}}</div></div>
                    </div>
                    <div class="data-two-columns">
                      <div class="text-wrapper-12">Primary sourced ratio*</div>
                      <!-- FIXME -->
                      <div class="data-data"><div class="data-2">{{credentialSubject.emissionsScorecard.primarySourcedRatio}}% primary sources</div></div>
                    </div>
                  </div>
                  <p class="text-wrapper-8">
                    The Primary Sourced Ratio shows the percentage of scope 3 emissions data that is
                    directly collected from actual sources, rather than being based on estimates.
                  </p>
                </div>
                <div class="frame-12">
                  <div class="data-two-columns">
                    <div class="text-wrapper-12">Reporting standard</div>
                    <div class="data-data-link">
                      <!-- FIXME -->
                      <a href="{{credentialSubject.emissionsScorecard.reportingStandard.id}}" class="line">
                        <!-- FIXME -->
                        <div class="text-wrapper-2">{{credentialSubject.emissionsScorecard.reportingStandard.name}}</div>
                      </a>
                    </div>
                  </div>
                  <div class="data-two-columns">
                    <div class="text-wrapper-12">Issue date</div>
                    <!-- FIXME -->
                    <div class="data-data"><div class="data">{{credentialSubject.emissionsScorecard.reportingStandard.issueDate}}</div></div>
                  </div>
                </div>
              </div>
              <div class="frame-13"><div class="text-wrapper-13">*</div></div>
            </div>
          </div>
        </div>

        <div class="div-2">
          <div class="text-wrapper-14">Declarations</div>
          <!-- FIXME -->
          {{#each credentialSubject.conformityDeclarations}}
          <div class="frame-14">
            <div class="frame-15">
              <!-- FIXME -->
              <div class="environment">{{conformityTopic}}</div>
              <!-- FIXME -->
              <p class="text-wrapper-15">{{conformityEvidence.linkName}}</p>
            </div>

            <div class="frame-29">
              <p class="text-wrapper-18">Declared values</p>
              <div class="frame-16">
                <!-- FIXME -->
                {{#each declaredValues}}
                  <div class="frame-17">
                    <div class="div-5">
                      <div class="data-two-columns">
                        <div class="text-wrapper-12">Name</div>
                        <!-- FIXME -->
                        <div class="data-wrapper"><div class="data">{{metricName}}</div></div>
                      </div>
                      <div class="data-two-columns">
                        <div class="text-wrapper-12">Value</div>
                        <!-- FIXME -->
                        <div class="data-wrapper"><div class="data">{{metricValue.value}}{{metricValue.unit}}</div></div>
                      </div>
                      <div class="data-two-columns">
                        <div class="text-wrapper-12">Accuracy</div>
                        <!-- FIXME -->
                        <div class="data-wrapper"><div class="data">{{accuracy}}</div></div>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>

            <div class="frame-29">
              <p class="text-wrapper-18">Assessment Criteria</p>
              <!-- FIXME -->
              {{#each assessmentCriteria}}
              <div class="assessment-criteria-list">
                <ul class="assessment-criteria-item">
                  <li>
                      Industry average {{name}} is <span>{{thresholdValues.0.metricValue.value}}{{thresholdValues.0.metricValue.unit}}</span>.
                      <div><a href="{{id}}" class="blue-bottom-line">Assessment criteria</a></div>
                  </li>
                </ul>
              </div>
              {{/each}}
            </div>

            <div class="frame-20">
              <!-- FIXME -->
              <a href="{{conformityEvidence.linkURL}}" class="cards-traceability-2">
                <div class="frame-21">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 21C4.45 21 3.97933 20.8043 3.588 20.413C3.19667 20.0217 3.00067 19.5507 3 19V5C3 4.45 3.196 3.97933 3.588 3.588C3.98 3.19667 4.45067 3.00067 5 3H19C19.55 3 20.021 3.196 20.413 3.588C20.805 3.98 21.0007 4.45067 21 5V19C21 19.55 20.8043 20.021 20.413 20.413C20.0217 20.805 19.5507 21.0007 19 21H5ZM5 5V19H19V5H17V12L14.5 10.5L12 12V5H5Z" fill="#1F5A95"></path>
                    </svg>
                  <div class="frame-10"><div class="company-name">Conformity evidence</div></div>
                </div>
                <div class="div-4">
                  <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L8 8L1 15" stroke="#1F5A95" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
              </a>
            </div>
            <div class="frame-22">
              <div class="rectangle-3"></div>
              <div class="frame-23">
                <p class="div-6">
                  <!-- FIXME -->
                  <span class="text-wrapper-17">Administered in {{referenceRegulation.jurisdictionCountry}} by <a href="{{referenceRegulation.administeredBy.id}}" class="black-line">{{referenceRegulation.administeredBy.name}}</a> Issued by <a href="{{referenceStandard.issuingParty.id}}" class="black-line">{{referenceStandard.issuingParty.name}}</a>, 2024</span>
                </p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>

        <div class="div-2">
          <div class="typography-heading"><div class="text-wrapper-4">Production</div></div>
          <div class="div-5">
            <div class="data-two-columns">
              <div class="text-wrapper-12">Product category</div>
              <!-- FIXME -->
              <div class="data-data"><div class="data-2">{{#each credentialSubject.productCategory}}{{name}}{{/each}}</div></div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Produced by</div>
              <div class="data-data-link">
                <!-- FIXME -->
                <a href="{{credentialSubject.producedByParty.id}}" class="line"><div class="text-wrapper-2">{{credentialSubject.producedByParty.name}}</div></a>
              </div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Produced at</div>
              <div class="data-data-link">
                <!-- FIXME -->
                <a href="{{credentialSubject.producedAtFacility.id}}" class="line">
                  <!-- FIXME -->
                  <p class="text-wrapper-2">{{credentialSubject.producedAtFacility.name}}</p>
                </a>
              </div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Date produced</div>
              <!-- FIXME -->
              <div class="data-wrapper"><div class="data">{{credentialSubject.productionDate}}</div></div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Country</div>
              <!-- FIXME -->
              <div class="data-data"><div class="data">{{credentialSubject.countryOfProduction}}</div></div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Dimensions</div>
              <!-- FIXME -->
              <div class="data-data"><p class="data">{{credentialSubject.dimensions.length.value}}{{credentialSubject.dimensions.length.unit}} x {{credentialSubject.dimensions.width.value}}{{credentialSubject.dimensions.width.unit}} x {{credentialSubject.dimensions.height.value}}{{credentialSubject.dimensions.height.unit}}</p></div>
            </div>
          </div>
        </div>

        <!-- FIXME: characteristics?????  -->
        {{!-- <div class="frame-24">
          <div class="heading-wrapper"><div class="heading">Product data</div></div>
          <div class="div-5">
            <div class="data-two-columns">
              <div class="text-wrapper-12">Battery status</div>
              <div class="data-wrapper"><div class="data">Recycled</div></div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Battery cell type</div>
              <div class="data-wrapper"><div class="data">Prismatic</div></div>
            </div>
            <div class="data-two-columns">
              <p class="text-wrapper-12">Number of cells per battery</p>
              <div class="data-wrapper"><div class="data">180</div></div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Total energy</div>
              <div class="data-wrapper"><div class="data">100kwh</div></div>
            </div>
          </div>
        </div> --}}

        <div class="div-2">
          <div class="typography-heading"><div class="text-wrapper-4">Composition</div></div>
          <p class="text-wrapper-5">
            The Product Composition List details the materials and components used in the product,
            providing transparency on the origin and nature of each element.
          </p>
          <div class="cards">
            <!-- FIXME -->
            {{#each credentialSubject.materialsProvenance}}
            <div class="cards-composition">
              <div class="first-column">
                <!-- FIXME -->
                <div class="percentage">{{massFraction}}</div>
                <div class="details">
                  <!-- FIXME -->
                  <div class="text-wrapper-9">{{name}}</div>
                  <div class="frame-25">
                    <div class="frame-26">
                      <!-- FIXME -->
                      <div class="text-wrapper-19">Recycled {{recycledAmount}}</div>
                    </div>
                    <div class="frame-27">
                      <!-- FIXME -->
                      <div class="text-wrapper-19">Hazard {{hazardous}}</div>
                    </div>
                  </div>
                  <div class="data-data-link-2">
                    <!-- FIXME -->
                    <a href="{{materialSafetyInformation.linkURL}}" class="line">
                      <!-- FIXME -->
                      <div class="text-wrapper-2">{{materialSafetyInformation.linkName}}</div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- FIXME -->
              <div class="div-4"><div class="text-wrapper-19">{{originCountry}}</div></div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="div-2">
          <div class="typography-heading"><div class="text-wrapper-4">History</div></div>
          <div class="frame-28">
            <div id="history-items-1440px" class="div-5">
              <!-- FIXME -->
              {{#each credentialSubject.traceabilityInformation}}
              <div class="data-two-columns">
                <!-- FIXME -->
                <div class="type-of-event">{{linkName}}</div>
                <div class="data-data-link-2">
                  <!-- FIXME -->
                  <a href="{{linkURL}}" class="line"><div class="text-wrapper-2">View</div></a>
                </div>
              </div>
              {{/each}}
            </div>
            <div id="view-more-btn-desktop" class="text-wrapper-20">View more</div>
          </div>
        </div>

        <div class="div-2">
          <div class="text-wrapper-4">Passport issued by</div>
          <div class="div-5">
            <div class="data-two-columns">
              <div class="text-wrapper-12">Organisation</div>
              <!-- FIXME -->
              <div class="data-data"><div class="data">{{issuer.name}}</div></div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Registered ID</div>
              <div class="data-data-link">
                <!-- FIXME -->
                <a href="{{issuer.id}}" class="line"><div class="text-wrapper-2">{{issuer.id}}</div></a>
              </div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Valid from</div>
              <!-- FIXME -->
              <div class="data-data"><div class="data">{{validFrom}}</div></div>
            </div>
            <div class="data-two-columns">
              <div class="text-wrapper-12">Valid to</div>
              <!-- FIXME -->
              <div class="data-data"><div class="data">{{validUntil}}</div></div>
            </div>
          </div>
        </div>
        <div class="this-digital-product-wrapper">
          <p class="this-digital-product">
            <span class="text-wrapper-17"
              >This Digital Product Passport (DPP) is a digital record of the products
              sustainability and environmental performance, ensuring transparency and accountability
              in line with UNTP standards. The DPP can be verified at any time using the QR code or
              visiting
            </span>
            <a href="http://www.untp-certification.org" class="black-line" target="_blank" rel="noopener noreferrer"
              ><span>www.untp-certification.org</span></a
            >
            <span class="text-wrapper-17"> with the passport ID.</span>
          </p>
        </div>
      </div>
      <!-- End desktop -->


    </div>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  const itemsToShow = 5; // Number of items to show by default

  // select view more buttons of mobile and desktop
  const viewMoreButtonMobile = document.getElementById('view-more-btn-mobile');
  const viewMoreButtonDesktop = document.getElementById('view-more-btn-desktop');
  // set history items class name to the view more buttons
  viewMoreButtonMobile.setAttribute('history-items-query-selector', '#history-items-390px .history-item');
  viewMoreButtonDesktop.setAttribute('history-items-query-selector', '#history-items-1440px .data-two-columns');
  // Initial setup
  updateItemsVisibility(viewMoreButtonMobile);
  updateItemsVisibility(viewMoreButtonDesktop);
  // Register click event listeners for view more buttons on mobile and desktop
  viewMoreButtonMobile.onclick = toggleItemsVisibility;
  viewMoreButtonDesktop.onclick = toggleItemsVisibility;

  function updateItemsVisibility(element) {
    const historyItemsClassName = element.getAttribute('history-items-query-selector');
    const historyItems = document.querySelectorAll(historyItemsClassName);

    // Hide the view more button if there are no more than itemsToShow (5 items)
    if (historyItems && historyItems.length <= itemsToShow) {
      return element.style.display = 'none';
    }

    // Show or hide items based on the current state
    const displayState = element.getAttribute('data-state'); // collapsed or expanded
    if (!displayState) { // Initial setup
      element.setAttribute('data-state', 'collapsed');
      element.textContent = 'View more';
      return historyItems.forEach((item, index) => {
        // Hide items beyond the first 5 by default
        if (index >= itemsToShow) {
          item.style.display = 'none';
        }
      });
    }

    // Update items visibility based on the current state
    historyItems.forEach((item, index) => {
      if (index >= itemsToShow) {
        // Show or hide items based on the current state
        const display = displayState === 'collapsed' ? 'none' : '';
        item.style.display = display;
      }
    });
  }

  function toggleItemsVisibility() {
    const displayState = this.getAttribute('data-state'); // collapsed or expanded
    const isCollapsed = displayState === 'collapsed';

    if (isCollapsed) {
      this.textContent = 'View less';
      this.setAttribute('data-state', 'expanded');
    } else {
      this.textContent = 'View more';
      this.setAttribute('data-state', 'collapsed');
    }
    updateItemsVisibility(this);
  }
});
</script>